html {
  scroll-behavior: smooth;
}


p {
  font-size: xx-large;
  padding-left: 70px;
  padding-right: 70px;
}


#title {
  position: relative;
  bottom: 80px;
  font-size: 12vw;
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 600;
  font-style: normal;
}

#welcome{
  font-weight: 800;
  position: relative;
  top: 23px;
}

#rest {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/Background2.jpeg");
  background-size: cover;
  background-attachment: fixed;

}

#Centerpiece {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: left;
  position: relative;
  top: 63px;
}

#downarrow {
  font-size: 60px;
  position: absolute;
  bottom: 10%;
}

#About-Header {
  text-align: left !important;
  padding-left: 90px;
}

#About {
  padding-bottom: 50px;
  height: 100vh;
  position: relative;
}

#About-Body {
  display: flex;
  flex-direction: row;
}

#arrow2div {
  display: flex;
  justify-content: center;
}

#downarrow2 {
  font-size: 60px;
  position: absolute;
  bottom: 3.5%;
}

#Headshot {
  width: 20%;
  margin-left: 4.5%;
  display: block;
}

#Contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#uparrow {
  font-size: 60px;
  position: absolute;
  bottom: 3%;
}

.arrow {
  transition: .3s;
}

#backtotop {
  position: absolute;
  bottom: 2.5%;
  font-weight: 800;
}

.projectlink {
  height: fit-content;
  width: fit-content;
  position: relative;

}

#Projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#ProjectsHeader {
  margin-bottom: 8vh;
}

#projectsbody {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}

.CardHeader {
  height: fit-content;
  font-family: "Yeseva One", serif;
}

.projectcard {
  background-color: #282c34;
  color: lightgray;
  width: 30vw;
  height: 55vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
  padding: 1%;
  gap: 2%;
}

.projectcard:hover {
  background-color: #2f4167;
  /* box-shadow: #422800 4px 4px 0 0; */
}

.projectbutton {
  box-shadow: rgba(255, 255, 255, 0.55) 4px 4px 0 0;
}

.cardpic {
  width: 80%;
}

.projectblurb {
  font-size: 150%;
  text-align: center;
}

#downarrow3 {
  font-size: 60px;
  position: absolute;
  bottom: 4%;
}


.contactlogo {
  font-size: 50px;
  margin: 20px
}



/* CSS */
.homebutton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.homebutton:hover {
  background-color: #fff;
}

.homebutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


#Responsive-Redesign {
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/redbackground.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

#Development-Section {
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/yellowbackground2.jpeg");
  background-size: cover;
  background-attachment: fixed;


}

#Third-Thing {
  background-color: #E0ACD5;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/greenbackground.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

.returnbutton {
  box-shadow: #422800 4px 4px 0 0;
}

.returnlink {
  position: relative;
  left: 4vw;
  bottom: 9vh;
  height: fit-content;
  width: fit-content;
}


.Case-Header {
  text-align: center;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 90px;
}

.casestudybody {
  margin-left: 5%;
  margin-right: 5%;
}

.sectionHeader {
  text-align: left;
  font-family: "Yeseva One", serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 40px;
}

.casestudysection {
  display: flex;
  margin-bottom: 7%;

}

.casestudytext {
  margin-top: 4%;
  text-align: center;
}

.casestudyimage {
  width: 45%;
  border: solid;
  border-width: 1px;
}

#solobutton{
  display: flex;
  align-items: center;
  justify-content:center;
  width:65%;
}



@media screen and (max-width: 700px) {
  #About-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #Headshot {
    width: 20%;
    display: block;
  }

  #Projects{
    height: fit-content;
  }

  #projectsbody {
    display: flex;
    flex-direction: column !important;
    gap: 20px;
  }

  .projectcard{
    width: 70vw;
  }

  #downarrow3{
    display: none;
  }

  .casestudysection {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    align-items: center;
  
  }

  .casestudyimage {
    width: 90%;
  }


}

/* @media (min-width: 768px) {
  .homebutton {
    min-width: 120px;
    padding: 0 25px;
  }
} */