html {
  scroll-behavior: smooth;
 }


.App {
  height: 100vh;
}



p {
  font-size: xx-large;
  padding-left: 70px;
  padding-right: 70px;
}


#title{
  position: relative;
  bottom: 80px;
  font-size: 15vw;
  font-family: "Jacques Francois Shadow", serif;
  font-weight: 400;
  font-style: normal;
}

#rest {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/Background2.jpeg");
  background-size:cover;
  background-attachment: fixed;

}

#Centerpiece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  top: 63px;
}

.Case-Study {
  height: 100vh;
  padding-bottom: 50px;
}

.Case-Header{
  text-align: center;
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 90px;
  padding-bottom: 30px;
}

#About-Header{
  text-align: left !important;
  padding-left: 90px;
}

#About{
  padding-bottom: 50px;
  height: 100vh;
}

#About-Body{
  display: flex;
  flex-direction: row;
}

#Headshot {
  width: 20%;
  margin-left: 4.5%;
  display: block;
}

#Contact{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectlink{
  height: fit-content;
  width: fit-content;
  position: relative;
  top: 80%;
}

#Projects{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#ProjectsHeader{
  margin-bottom: 8vh;
}
#projectsbody{
  display: flex;
  justify-content: end;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
}
.projectcard{
  background-color: #282c34;
  color: lightgray;
  width: 25vw;
  height: 55vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: .3s;
}
.projectcard:hover{
  background-color: #2f4167;
}
.projectbutton{
  
  box-shadow: rgba(255, 255, 255, 0.55) 4px 4px 0 0;
}


.contactlogo{
  font-size: 50px;
  margin: 20px
}



/* CSS */
.homebutton {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.homebutton:hover {
  background-color: #fff;
}

.homebutton:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .homebutton {
    min-width: 120px;
    padding: 0 25px;
  }
}


#Responsive-Redesign {
  background-color: #29E7CD;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/greenbackground.jpeg");
  background-size:cover;
  background-attachment: fixed;
}

#Development-Section {
  background-color: #EFE9AE;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/yellowbackground2.jpeg");
  background-size:cover;
  background-attachment: fixed;
  

}

#Third-Thing {
  background-color: #E0ACD5;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/redbackground.jpeg");
  background-size:cover;
  background-attachment: fixed;
}

.returnbutton{
  box-shadow: #422800 4px 4px 0 0;
}

.returnlink{
  position: relative;
  left: 5vw;
  bottom: 12vh;
  height: fit-content;
  width: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}